body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: #350505;
  padding: 10px;
}

h2{
    color: rgb(137, 138, 212);
}


.navbar a {
  color: #41ef98;
  margin-left: 10px;
  text-decoration: none;
}

.container {
  padding: 20px;
}

.card {
  border: 2px solid #25aabe;
  padding: 10px;
  margin: 10px 0;
}
